* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $o-regular;
	font-size: 14px;
	color: $accent-light;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {
	
}

a {
	color: $primary;
	&:hover {
		color: darken($primary, 5);
	}
}

img {
	user-select: none;
}

input, textarea, button {
	outline: none;
}