* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $o-regular;
	font-size: 14px;
	color: $accent-light;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {
	
}

a {
	color: $primary;
	&:hover {
		color: darken($primary, 5);
	}
}

img {
	user-select: none;
}

input, textarea, button {
	-webkit-appearance: none;
	outline: none;
}

.popup {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 20px 30px;
	border: 1px solid $primary-light;
	border-radius: 3px;
	background: $dark;
	color: $primary-light;
}
