$primary: #6574CF;
$primary-light: #C5CEE0;

$accent: #222B45;
$accent-light: #586078;

$green: #1EC760;
$red: #FF4E32;
$yellow: #F9B700;
$dark: #272727;

$o-light: 'OpenSans-Light', sans-serif;
$o-regular: 'OpenSans-Regular', sans-serif;
$o-semibold: 'OpenSans-SemiBold', sans-serif;
$o-bold: 'OpenSans-Bold', sans-serif;
$o-extrabold: 'OpenSans-ExtraBold', sans-serif;